// Заголовки, общие БЄМ блоки и проче...
._btn-blue{
    display: inline-block;
    font-family: $fontFamily;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #2770F1;
    border-radius: 4px;
    padding: 16px;
    transition: all 0.7s ease;
    &:hover{
        transition: all 0.7s ease;
        color: #2770F1;
        background-color: #F1F5FF;
    }
}