//====================================================================================================
.header {
	position: relative;
	z-index: 50;
	// .header__top-content
	&__top-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		padding: 15px 0;
		@media (max-width: $tablet) {
			padding: 5px 0;
		}
	}
	// .header__top-content-left
	&__top-content-left {
		display: flex;
		align-items: center;
	}
	// .header__top-content-right
	&__top-content-right {
		display: flex;
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: space-between;
			flex: 1 1 auto;
		}
		@media (max-width: $mobile) {
			justify-content: end;
		}
	}
	// .header__top-content-info
	&__top-content-info {
		display: flex;
		flex-direction: column;
		align-items: end;
		margin: 0 12px;
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	// .header__top-content-search
	&__top-content-search {
	}
	// .header__top-content-search-form
	&__top-content-search-form {
		display: flex;
		align-items: center;
		transition: all 0.7s ease;
		@media (any-hover: hover) {
			&:hover {
				.header__top-content-search-input {
					transition: all 0.7s ease;
					width: rem(500);
					right: 0;
					visibility: visible;
					pointer-events: auto;
					padding: 0 10px;
					opacity: 1;
					z-index: 0;
				}
			}
		}
	}
	// .header__top-content-search-input
	&__top-content-search-input {
		position: relative;
		width: 0;
		right: -50px;
		@include adaptiv-value("height", 56, 38, 1);
		visibility: hidden;
		opacity: 0;
		z-index: -5;
		pointer-events: none;
		font-family: $fontFamily;
		font-weight: normal;
		font-style: normal;
		color: $mainColor;
		font-size: rem(16);
		border: 1px solid #f1f5ff;
		transition: all 0.7s ease;
		&:focus {
			transition: all 0.7s ease;
			color: #212529;
			background-color: #f1f5ff;
			border-color: #2770f1;
			outline: 0;
		}
	}
	// .header__content-search-box
	&__top-content-search-box {
		display: flex;
		align-items: center;
		padding: 14px;
		border-radius: 4px;
		background-color: #f1f5ff;
		@include adaptiv-value("margin", 0 12px, 0 5px, 1);
		cursor: pointer;
		@media (max-width: $mobile) {
			background-color: #ffffff;
			padding: 4px;
		}
	}
	// .header__top-content-search-box-img
	&__top-content-search-box-icon {
		fill: #2770f1;
		width: 28px;
		height: 28px;
	}
	// .header__top-content-btn
	&__top-content-btn {
		padding: 0 5px;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__bottom-line {
		position: relative;
		background-color: #ffffff;
		border-bottom: 1px solid #c0d3fb;
		@media (max-width: $tablet) {
			border-bottom: 0 solid #c0d3fb;
		}
	}
}
.logo {
	// .logo__link
	&__link {
		display: flex;
		align-items: center;
	}
	// .logo__link-img
	&__link-img {
		@include adaptiv-value("height", 64, 38, 1);
		@include adaptiv-value("width", 64, 38, 1);
		margin: 0 5px;
	}
	// .logo__link-title
	&__link-title {
		@include adaptiv-value("width", 214, 95, 1);
		@include adaptiv-value("height", 56, 32, 1);
		margin: 0 5px;
	}
}
.social {
	// .social__list
	&__list {
		display: flex;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .social__list-item
	&__list-item {
		margin: 0 12px;
		@media (max-width: $pc) {
			margin: 0 5px;
		}
	}
	// .social__list-item-link
	&__list-item-link {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiv-value("height", 48, 24, 1);
		@include adaptiv-value("width", 48, 24, 1);
		border-radius: 57px;
		background-color: #f1f5ff;
		transition: all 0.7s ease;
		&:hover {
			background-color: #2770f1;
			transition: all 0.7s ease;
		}
		&:hover .social__list-item-link-icon {
			fill: #ffffff;
			transition: all 0.7s ease;
		}
	}

	// .social__list-item-link-img
	&__list-item-link-icon {
		fill: #2770f1;
		@include adaptiv-value("height", 25, 14, 1);
		@include adaptiv-value("width", 25, 14, 1);
	}
}
.telephone {
	font-family: $fontFamily;
	font-weight: 800;
	color: #162c5b;
	@include adaptiv-value("font-size", 24, 14, 1);
}
.position-map {
	font-family: $fontFamily;
	font-weight: normal;
	font-style: normal;
	color: $mainColor;
	@include adaptiv-value("font-size", 16, 8, 1);
	line-height: 24px;
}
.menu-open {
	@media (max-width: $tablet) {
		.menu__list {
			@media (max-width: $tablet) {
				left: 0;
				transition: all 0.7s ease;
				background: rgba(255, 255, 255, 0.8);
				overflow: auto;
			}
		}
	}
}
.menu {
	position: relative;
	// .menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -150%;
			padding: 0 0;
			flex-direction: column;
			justify-content: start;
			transition: all 0.7s ease;
			padding: 0 0;
		}
	}
	// .menu__list-item
	&__list-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.menu__sub-list {
					z-index: 5;
					top: 100%;
					transition: all 0.7s ease;
					visibility: visible;
					pointer-events: auto;
					opacity: 1;
				}
				.menu__list-icon::before {
					transform: rotate(90deg);
				}
			}
		}
	}
	// .menu__list-item-title
	&__list-item-button {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		color: #1b315f;
		text-align: center;
		padding: 10px;
		display: flex;
		align-items: center;
		@media (max-width: $pc) {
			padding: 10px 5px;
			font-size: 16px;
		}
		@media (max-width: $tablet) {
			font-size: 14px;
		}
		@media (max-width: $mobile) {
			font-size: 18px;
		}
	}
	// .menu__list-icon-vertical
	&__list-icon {
		display: inline-block;
		width: 26px;
		height: 26px;
		position: relative;
		transition: all 0.7s ease;
		&::before {
			content: "";
			position: absolute;
			background-color: #2770f1;
			width: 2px;
			height: 12px;
			bottom: 6px;
			left: 50%;
			transition: all 0.7s ease;
		}
		&::after {
			content: "";
			position: absolute;
			background-color: #2770f1;
			width: 12px;
			height: 2px;
			top: 50%;
			left: 8px;
		}
	}
	// .menu__list-item-link
	&__list-item-link {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		color: #1b315f;
		padding: 14px 5px;
		position: relative;
		@media (max-width: $pc) {
			font-size: 16px;
		}
		@media (max-width: $mobile) {
			display: inline;
			font-size: 18px;
		}
	}
	// .menu__sub-list
	&__sub-list {
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 0;
		left: 0;
		top: 100px;
		width: 200px;
		padding: 5px 0;
		visibility: hidden;
		transition: all 0.7s ease;
		pointer-events: none;
		opacity: 0;
		background-color: #ffffff;
		box-shadow: 5px 5px 10px rgba(27, 49, 95, 0.15);
	}
	// .menu__sub-item
	&__sub-item {
		padding: 0 10px;
	}
	// .menu__sub-link
	&__sub-link {
		display: inline-block;
		font-family: $fontFamily;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: #1b315f;
		padding: 5px 0;
		position: relative;
		transition: all 0.7s ease;
		&::after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			height: 2px;
			width: 0;
			transition: all 0.7s ease;
		}
		&:hover {
			&::after {
				background-color: #2770f1;
				width: 100%;
			}
		}
	}
}

//====================================================================================================
._menu_sub-list_active {
    z-index: 5;
    top: 100%;
    transition: all 0.7s ease;
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

._menu_list-icon_actice::before {
	transform: rotate(90deg);
}
._header_top-content-search-input_active {
	@media (max-width:$tablet){
		position: absolute;
		transition: all 0.7s ease;
		width: rem(500);
		visibility: visible;
		pointer-events: auto;
		padding: 0 10px;
		opacity: 1;
		z-index: 0;
	}

}


//Burger

.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 50;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
